body {
  font-family: 'Roboto Condensed', sans-serif;
}

#nav {
  margin: 2.5em 0 0 0;
}

#nav > ul > li {
  display: inline-block;
  font-style: italic;
  margin: 0 0.35em 0 0.35em;
}

#nav > ul > li > a {
  border-radius: 5px;
  color: #5d5d5d;
  text-decoration: none;
  padding: 0.6em 1.2em 0.6em 1.2em;
}

#nav > ul > li:hover > a,
#nav > ul > li.active > a {
  background: #f3f3f3;
}

#nav > ul > li.current > a {
  background: #d52349;
  color: #fff !important;
  font-weight: 700;
}
.img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#banner {
  background: url('../img/coding.jpeg');
  background-position: center center;
  background-size: auto 100%;
  text-align: center;
  position: relative;
  padding: 8em 0;
  margin: 4em 0 0 0;
}

#banner header {
  background-color: white;
  display: inline-block;
  padding: 2.5em 5em;
  border-radius: 10px;
}

#banner header h2 {
  color: #5d5d5d;
  font-weight: 700;
  font-size: 2.5em;
  margin: 0 0 20px 0;
}

.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.project {
  display: flex;
  align-items: center;
}
.pro {
  margin: 10px;
}
.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.blog-content {
  display: flex;
  align-items: center;
}
.footer {
  background-color: white;
  color: #5d5d5d;
  padding: 20px;
}

h2 {
  font-size: 40px;
  color: #5d5d5d;
}
@media (max-width: 768px) {
  .project {
    flex-direction: column;
  }
  .blog-content {
    flex-direction: column;
  }
}

.article {
  background-color: white;
  border-radius: 6px;
  margin: 40px;
}

.article p {
  margin: 20px;
  font-size: 20px;
}

.article h1 {
  text-align: center;
}
